# Core Django & REST
Django
daphne
channels
channels_redis
django-cors-headers
djangorestframework
djangorestframework_simplejwt

# Database
psycopg2-binary

# Utilities
python-dotenv

# AI / RAG
sentence-transformers
chromadb
google-genai
google-cloud-texttospeech